body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(50,75,75);
    color: white;
}

#header {
    display: flex;
    min-height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

#header h2 {
    background-color: rgb(255, 220, 220, .8);
    border: 3px solid rgb(255, 220, 220, .2);
    border-radius: 60px;
    padding: 10px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    min-height: 800px;
}

#ctrl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    margin-top: 20px;
    gap: 10%;
    padding-left: 100px;
}

#countLabel {
    font-weight: bold; 
    font-size: 18px;
}

#countInput {
    width: 200px;
}

button {
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: gray;
}

button:hover {
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(115, 115, 115, 0.658);
}

#main {
    display: flex;
    justify-content: center;
    min-height: 700px;
}

#sketchBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 50px solid rgba(200, 0, 255, 0.555);
    border-radius: 40px;
    width: 615px;
    height: 615px;
    margin-bottom: 50px;
    padding: 0px;
}

#sketchArea {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 600px;
    width: 600px;
    margin: 0px;
}

#sketchArea div { 
    margin: 0; 
    padding: 0; 
    flex: 1;
}

#footer {
    display: flex;
    min-height: 10%;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
}
